.masthead {
  position: relative;
  figure, .wp-block-post-featured-image {
    img {
      border-radius: 5px;
    }
  }
  
  figure:after{
    content:'';
    position:absolute;    
  }
  figure:after{
      top:0;left:0;
      width:100%; height:100%;
      box-shadow: inset 0px -300px 600px -300px #fff;
  }

  .wp-block-group.info {
    margin-block-start: -4rem;    
  }

  .info {
    background-color: #1B1B1BF0;
    border-radius: 30px;
    padding: 1rem;
  }

  .wp-block-post-title {    
    line-height: 1;
    text-align: center;
  }
}