<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
  <!-- wp:group {"tagName":"main","align":"wide","style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
  <main class="wp-block-group alignwide" style="padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
    <!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide">
      <!-- wp:group {"align":"wide","className":"masthead","layout":{"type":"default"}} -->
      <div class="wp-block-group alignwide masthead">
        <!-- wp:post-featured-image {"aspectRatio":"auto","style":{"layout":{"selfStretch":"fit","flexSize":null}}} /-->  
        <!-- wp:group {"style":{"layout":{"selfStretch":"fit","flexSize":null}},"className":"glow-effect","layout":{"type":"constrained"}} -->
        <div class="wp-block-group glow-effect">
          <!-- wp:post-title {"align":"full"} /-->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->  
      <!-- wp:post-content {"align":"wide"} /-->
    </div>
    <!-- /wp:group -->
  </main>
  <!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->