<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"align":"wide"} -->
<main class="wp-block-group alignwide">
	<!-- wp:post-featured-image {"align":"wide"} /-->
	<!-- wp:post-title {"align":"wide"} /-->
  <!-- wp:template-part {"slug":"masthead","theme":"custom-cut"} /-->
  <!-- wp:template-part {"slug":"post-meta","theme":"custom-cut","area":"uncategorized"} /-->
	<!-- wp:post-content {"align":"wide"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->