.block-editor-block-list__block.wp-block-custom-cut-slide {
  display: flex;
  min-height: 100%;
}

.block-editor-block-list__block.wp-block-custom-cut-slide>.slide-copy {
  display: none;
}

.block-editor-block-list__block.wp-block-custom-cut-slide.is-selected {
  min-width: 33%;
}

.block-editor-block-list__block.wp-block-custom-cut-slide.is-selected>.slide-copy {
  display: block;
}

/* .wp-block-custom-cut-slider>.block-editor-inner-blocks>.block-editor-block-list__layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  max-width: 90%;
} */