.wp-block-custom-cut-slide {
  border: 1px solid #555;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.inner-slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.inner-slide .slide-image {
  z-index: -1;
  position: absolute;
  visibility: hidden;
}

.inner-slide .slide-copy {
  width: 50%;
  max-height: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* default to center, make configurable */
  color: #fff;
  backdrop-filter: brightness(0.5);
  text-shadow: 2px 2px 4px black;
}

.inner-slide .slide-title {
  text-align: center;
}

.inner-slide .slide-text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}