@import './sass/editor';
@import './sass/custom';
@import './sass/menu';
@import './sass/header';

*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb
}

:before,
:after {
  --tw-content: ""
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji"
}

body {
  margin: 0;
  line-height: inherit
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

// a {
//   color: inherit;
//   text-decoration: inherit
// }

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

button,
select {
  text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  background-image: none
}

:-moz-focusring {
  outline: auto
}

:-moz-ui-invalid {
  box-shadow: none
}

progress {
  vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

summary {
  display: list-item
}

// blockquote,
// dl,
// dd,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// hr,
// figure,
// p,
// pre {
//   margin: 0
// }

fieldset {
  margin: 0;
  padding: 0
}

legend {
  padding: 0
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0
}

textarea {
  resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af
}

button,
[role=button] {
  cursor: pointer
}

:disabled {
  cursor: default
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle
}

img,
video {
  max-width: 100%;
  height: auto
}

[hidden] {
  display: none
}

.wp-block-clearblocks-search-form {
  margin-bottom: 4rem;
  border-radius: .5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity));
  padding: 2rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.wp-block-clearblocks-search-form h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: inherit
}

.wp-block-clearblocks-search-form form {
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-radius: .5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: .25rem .5rem
}

@media (min-width: 640px) {
  .wp-block-clearblocks-search-form form {
    display: flex
  }
}

.wp-block-clearblocks-search-form form input {
  flex-grow: 1;
  border-style: none;
  padding-left: .5rem;
  padding-right: .5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px
}

.wp-block-clearblocks-search-form .btn-wrapper {
  margin-left: auto;
  margin-right: auto;
  align-items: center
}

.wp-block-clearblocks-search-form .btn-wrapper>:not([hidden])~:not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

.wp-block-clearblocks-search-form .btn-wrapper {
  border-radius: .5rem;
  padding-left: .5rem;
  padding-right: .5rem
}

.wp-block-clearblocks-search-form .btn-wrapper button {
  border-radius: .5rem;
  border-style: none;
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity));
  padding: .5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px
}

.wp-block-clearblocks-page-header {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 0 !important
}

.wp-block-clearblocks-page-header .inner-page-header {
  width: 100%
}

@media (min-width: 640px) {
  .wp-block-clearblocks-page-header .inner-page-header {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .wp-block-clearblocks-page-header .inner-page-header {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .wp-block-clearblocks-page-header .inner-page-header {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .wp-block-clearblocks-page-header .inner-page-header {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .wp-block-clearblocks-page-header .inner-page-header {
    max-width: 1536px
  }
}

.wp-block-clearblocks-page-header .inner-page-header {
  margin-left: auto;
  margin-right: auto
}

.wp-block-clearblocks-page-header h1 {
  padding: 0;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500
}

.hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.hover\:bg-red-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity))
}

.focus\:border-red-500:focus {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity))
}

.focus\:shadow:focus {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

@media (min-width: 640px) {
  .sm\:flex {
    display: flex
  }
}

@media (min-width: 768px) {
  .md\:flex {
    display: flex
  }

  .md\:hidden {
    display: none
  }
}